@font-face {
  font-family: titlebarFont;
  font-weight: normal;
  font-style: normal;
  src: url("../../node_modules/kxk/styl/Bahnschrift.woff");
}
@font-face {
  font-family: calendarFont;
  font-weight: normal;
  font-style: normal;
  src: url("../../node_modules/kxk/styl/Bahnschrift.woff");
}
* {
  outline-width: 0;
}
body {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  font-family: titlebarFont;
  font-size: 15px;
  margin: 0;
  overflow: hidden;
  -webkit-user-select: none;
}
#main {
  overflow: hidden;
  position: absolute;
  pointer-events: all;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.kachel {
  position: relative;
  pointer-events: all;
}
.kachel.Appl {
  display: inline-grid;
  max-width: 50%;
}
.kachel.Volume {
  display: inline-grid;
  width: 32%;
}
.kachel.Battery {
  display: inline-grid;
  width: 32%;
}
.kachel.Cores {
  display: inline-grid;
  width: 33%;
}
.kachelImg {
  margin: auto;
  width: 70%;
  height: 70%;
  cursor: pointer;
}
.kachelImg.inactive {
  opacity: 0.2;
}
.applicon {
  margin: 10%;
  width: 80%;
  cursor: pointer;
}
.appldot {
  position: absolute;
  left: 4px;
  bottom: 4px;
  width: 8px;
  height: 8px;
}
.appldot .applcircle {
  stroke-width: 0;
}
.calendarIcon {
  position: absolute;
  border-radius: 20%;
  width: 63%;
  height: 63%;
  margin: auto;
  overflow: hidden;
  cursor: pointer;
}
.calendarMonth {
  font-size: 7vw;
  font-family: calendarFont;
  line-height: 1;
  text-align: center;
  color: #fff;
  background-color: #e8564e;
  padding: 1vw;
}
.calendarDay {
  font-size: 21vw;
  text-align: center;
  font-family: calendarFont;
  line-height: 1;
  color: #000;
  background-color: #f8f8f8;
  padding-bottom: 4vw;
}
.face {
  stroke-width: 2;
}
.volmrk,
.minmrk {
  stroke-linecap: round;
  stroke-width: 2;
}
