@font-face {
  font-family: titlebarFont;
  font-weight: normal;
  font-style: normal;
  src: url("../../node_modules/kxk/styl/Bahnschrift.woff");
}
* {
  outline-width: 0;
}
body {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  font-family: titlebarFont;
  font-size: 15px;
  margin: 0;
  overflow: hidden;
  -webkit-user-select: none;
}
#main {
  overflow: hidden;
  position: absolute;
  pointer-events: all;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.kachel {
  -webkit-app-region: no-drag;
  min-width: 64px;
  border-bottom: 1px solid;
  position: relative;
  pointer-events: all;
}
.kachel.Appl {
  display: inline-grid;
  max-width: 50%;
}
.kachelImg {
  margin: auto;
  width: 70%;
  height: 70%;
  cursor: pointer;
}
.kachelImg.inactive {
  opacity: 0.2;
}
.applicon {
  margin: 10%;
  width: 80%;
  cursor: pointer;
}
.appldot {
  position: absolute;
  left: 4px;
  bottom: 4px;
  width: 8px;
  height: 8px;
}
.appldot .applcircle {
  stroke-width: 0;
}
