
//  0000000  000000000  000   000  000    
// 000          000      000 000   000    
// 0000000      000       00000    000    
//      000     000        000     000    
// 0000000      000        000     0000000

@font-face 
    font-family     titlebarFont
    font-weight     normal
    font-style      normal
    src             url("../../node_modules/kxk/styl/Bahnschrift.woff")

@font-face 
    font-family     calendarFont
    font-weight     normal
    font-style      normal
    src             url("../../node_modules/kxk/styl/Bahnschrift.woff")
    
// 0000000     0000000   0000000    000   000
// 000   000  000   000  000   000   000 000 
// 0000000    000   000  000   000    00000  
// 000   000  000   000  000   000     000   
// 0000000     0000000   0000000       000   

fill-abs()
    position            absolute
    bottom              0
    right               0
    left                0
    top                 0

*
    outline-width       0
    
body
    fill-abs()
    font-family          titlebarFont
    font-size            15px
    margin               0
    overflow             hidden
    -webkit-user-select  none
    
// 00     00   0000000   000  000   000  
// 000   000  000   000  000  0000  000  
// 000000000  000000000  000  000 0 000  
// 000 0 000  000   000  000  000  0000  
// 000   000  000   000  000  000   000  

#main
    overflow            hidden
    position            absolute
    pointer-events      all
    top                 0
    left                0
    right               0
    bottom              0

.kachel
    position            relative
    pointer-events      all
    &.Appl
        display         inline-grid
        max-width       50%
    &.Volume
        display         inline-grid
        width           32%
    &.Battery
        display         inline-grid
        width           32%
    &.Cores
        display         inline-grid
        width           33%
            
// 000  00     00   0000000   
// 000  000   000  000        
// 000  000000000  000  0000  
// 000  000 0 000  000   000  
// 000  000   000   0000000   

.kachelImg
    margin              auto
    width               70%
    height              70%
    cursor              pointer
    &.inactive
        opacity         0.2
    
//  0000000   00000000   00000000   000      
// 000   000  000   000  000   000  000      
// 000000000  00000000   00000000   000      
// 000   000  000        000        000      
// 000   000  000        000        0000000  

.applicon
    margin              10%
    width               80%
    cursor              pointer

.appldot
    position            absolute
    left                4px
    bottom              4px
    width               8px
    height              8px
    & .applcircle
        stroke-width    0
        
//  0000000   0000000   000      00000000  000   000  0000000     0000000   00000000   
// 000       000   000  000      000       0000  000  000   000  000   000  000   000  
// 000       000000000  000      0000000   000 0 000  000   000  000000000  0000000    
// 000       000   000  000      000       000  0000  000   000  000   000  000   000  
//  0000000  000   000  0000000  00000000  000   000  0000000    000   000  000   000  

.calendarIcon
    position            absolute
    border-radius       20%
    width               63%
    height              63%
    margin              auto
    overflow            hidden
    cursor              pointer

.calendarMonth
    font-size           7vw
    font-family         calendarFont
    line-height         1
    text-align          center
    color               white
    background-color    #E8564E
    padding             1vw
 
.calendarDay
    font-size           21vw
    text-align          center
    font-family         calendarFont
    line-height         1
    color               black
    background-color    #F8F8F8
    padding-bottom      4vw
        
    // 000   000   0000000   000      000   000  00     00  00000000    
    // 000   000  000   000  000      000   000  000   000  000         
    //  000 000   000   000  000      000   000  000000000  0000000     
    //    000     000   000  000      000   000  000 0 000  000         
    //     0       0000000   0000000   0000000   000   000  00000000    
    
.face
    stroke-width        2
   
.volmrk
.minmrk
    stroke-linecap      round
    stroke-width        2 
    
    